@use '_featureproductsmixin' as featureproductsmixin;
@use '_mixin' as mixin;
@use '_breakpoints' as breakpoints;
@use '_mixin_2' as mixin2;

mat-card {
    @include mixin2.box-dimention($width: 100%, $height: 100%);
    background-color: white;

    mat-card-content {
        background-color: white;
        z-index: 2;

        .title {
            @include featureproductsmixin.product-card-title();

            a {
                &:hover {
                    @include mixin.hover-green-ease();
                }
            }

            @include breakpoints.respond(sm) {
                font-size: 14px;
            }

            @include breakpoints.respond(xxxlg) {
                font-size: 15px;
            }
        }

        .price {
            @include mixin2.heading-font-style($font-weight: 900, $color: #444444, $font-size: 16px, $line-height: 18px);

            del {
                @include mixin2.heading-font-style($font-weight: 400, $color: #bebebe, $font-size: 14px, $line-height: 16px);
                margin: 0 10px 0 0;
                text-align: center
            }
        }

        @include featureproductsmixin.features-sizing-padding($padding-top: 10px, $padding-right: 5px, $padding-left: 5px, $padding-bottom: 10px);

        @include breakpoints.respond(sm) {
            @include featureproductsmixin.features-sizing-padding($padding-top: 20px, $padding-right: 5px, $padding-left: 5px, $padding-bottom: 20px);
        }

        @include breakpoints.respond(xxlg) {
            @include featureproductsmixin.features-sizing-padding($padding-top: 25px, $padding-right: 10px, $padding-left: 10px, $padding-bottom: 25px);
        }
    }

    &:hover {
        ul {
            bottom: 207px !important;
        }
    }

    .card-product-list {
        @include mixin.container-flex($display: flex, $flex-wrap: nowrap);
        @include mixin.justify-content($webkit-box-pack: center, $justify-content: center);
        @include mixin2.heading-font-style($font-weight: 200, $color: #333333, $font-size: 16px, $line-height: 20px);
        @include featureproductsmixin.hidden-list-style();

        .item {
            padding: 3px;
            background-color: white;
            cursor: pointer;

            a {
                display: block;
            }

            mat-icon {
                @include featureproductsmixin.hidden-liste-icon-style();
            }

            &:hover {
                @include mixin2.hover-green-ease($color: white, $transition-property: all, $transition-duration: .25s, $transition-timing-function: linear, $background-color: #5ba515);

                mat-icon {
                    color: white;
                }
            }

            &:first-child {
                border-radius: 20px 0 0 20px;
            }

            &:last-child {
                border-radius: 0 20px 20px 0;
            }

            @include featureproductsmixin.hidden-list-item-style();

            @include breakpoints.respond(sm) {
                padding: 10px;
            }
        }

        @include breakpoints.respond(xxxlg) {
            @include mixin2.heading-font-style($font-weight: 200, $color: #333333, $font-size: 18px, $line-height: 22px);
        }
    }
}