@mixin heading-font-style(
    $font-weight: bold,
    $color: #33333333,
    $font-size: 36px,
    $line-height: 27px) {
    font-weight: $font-weight;
    color: $color;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin box-dimention(
    $width: 100%,
    $height: 100%
) {
    width: $width;
    height: $height;
}

@mixin hover-green-ease(
    $color: #5ba515, 
    $transition-property: all, 
    $transition-duration: .25s, $transition-timing-function: linear,
    $background-color: white
    ) {
    color: $color;
    background-color: $background-color;
    transition: $transition-property $transition-duration $transition-timing-function;
}

@mixin padding-sizing-left-right($padding-left: 35px, $padding-right: 80px) {
    padding-left: $padding-left !important;
    padding-right: $padding-right !important;
}

@mixin font-size-color-style(
    $font-size: 30px,
    $line-height: 40px,
    $color: #5ba515
) {
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

@mixin arrow() {
    position: absolute;
    top: 50%;
    z-index: 2;
    background-color: white;
    transform: translateY(-50%);
}

@mixin slick-slider() {
    position: relative;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

@mixin slick-list(
    $position: relative,
    $display: block,
    $overflow: hidden,
    $margin: 0,
    $padding: 0
) {
    position: $position;
    display: $display;
    overflow: $overflow;
    margin: $margin;
    padding: $padding;
}

@mixin heading-IV(
    $font-size: 25px,
    $line-height: 27px,
    $color: #333333
) {
    font-size: 25px;
    line-height: 27px;
    color: #333333;
}

@mixin features-contact-list-left-right(
    $overflow: hidden,
    $margin-left: auto,
    $margin-right: auto
) {
    overflow: $overflow !important;
    margin-left: $margin-left !important;
    margin-right: $margin-right !important;
}