@mixin product-header-dimension(
    $text-align: center,
    $margin-bottom: 35px,
    $display: block,
) {
    text-align: $text-align !important;
    margin-bottom: $margin-bottom !important;
    display: $display;
}

@mixin slider-content() {
    width: 100% !important;
    position: relative;
    display: block;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

@mixin countdown-section-style(
    $min-width: 30px,
    $margin: 0 20px 0 0,
    $position: relative
) {
    min-width: $min-width;
    margin: $margin;
    position: $position;
}

@mixin countdown-amount-style(
    $font-size: 25px,
    $line-height: 27px,
    $color: #5ba515,
    $font-weight: 700,
    $background: none,
    $border-top: none,
    $display: block,
    $padding: 0,
    $border-bottom: none
) {
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-weight: $font-weight;
    background: $background;
    border-top: $border-top;
    display: $display;
    padding: $padding;
    border-bottom: $border-bottom;
}

@mixin countdown-section-before(
    $content: ":",
    $color: #5ba515,
    $font-size: 30px,
    $line-height: 35px,
    $position: absolute,
    $top: 0,
    $right: -14px,
    $bottom: auto,
    $left: auto
) {
    content: $content;
    color: $color;
    font-size: $font-size;
    line-height: $line-height;
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

