<header class="subscription-header">
    <h1 class="title">Subscribe Our Newsletter</h1>
    <span class="header-border">
        <img src="assets/product-carousel/hbdr.png" alt="Border">
    </span>
    <p class="text">Enter Your Email address to join our mailing list and keep yourself update</p>
</header>
<form action="">
    <input 
        type="email" 
        name="subscription"
        placeholder="Enter your mail..." 
        id="subscription">
    <button class="btn">Shop Now
        <i class="fa-solid fa-arrow-right"></i>
    </button>
</form>
