@use '_featureproductsmixin' as featureproductsmixin;
@use '_mixin' as mixin;
@use '_breakpoints' as breakpoints;
@use '_mixin_2' as mixin2;

header .product-grid {
    @include mixin.flex-item(100%, 100%, 0);
    @include mixin.relative-content();
}

header {
    @include featureproductsmixin.features-products-header();
    color: #707070;

    .title {
        @include mixin2.heading-font-style($font-weight: 500, $color: #333333, $font-size: 27px, $line-height: 27px);
        margin-bottom: 20px !important;

        @include breakpoints.respond(ssm) {
            @include mixin2.heading-font-style($font-weight: 500, $color: #333333, $font-size: 30px, $line-height: 29px);
        }

        @include breakpoints.respond(md) {
            @include mixin2.heading-font-style($font-weight: 500, $color: #333333, $font-size: 36px, $line-height: 29px);
        }
    }

    .header-border {
        @include featureproductsmixin.features-products-header($display: block, $text-align: center, $margin-bottom: 16px);
        min-width: 100%;

        img {
            @include mixin.fill-height-img($max-width: 100%, $height: auto);
            width: 270px;
        
            @include breakpoints.respond(ssm) {
                width: 370px;
            }
        }

        @include breakpoints.respond(ssm) {
            min-width: 370px;
        }
    
        @include breakpoints.respond(md) {
            margin-bottom: 25px !important;
        }
    }

    .text {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

.product-grid {
    @include mixin.container-flex(flex, wrap);
    @include featureproductsmixin.product-grid-sizing();

    .product-card {
        @include featureproductsmixin.feature-card-product($width: 100%, $margin: 0 16px, $margin-bottom: 30px);
        
        @include breakpoints.respond(ssm) {
           width: 50%;
        }
    
        @include breakpoints.respond(lg) {
            width: 25%;
        }

        @include breakpoints.respond(xxxlg) {
            width: 20%;
        }
    }
}

