<ng-container *ngFor="let featureProductContent of featureProductContentList">
    <header>
        <h1 class="title">{{ featureProductContent.title }}</h1>
        <span class="header-border">
            <img [src]="featureProductContent.imgPath" [alt]="featureProductContent.imgAlt">
        </span>
        <p class="text">
            {{ featureProductContent.text }}
        </p>
    </header>
    <div class="product-grid">
        <div 
            class="product-card"
            *ngFor="let product of featureProductContent.productGrid">
            <app-product-card
            [product]="product"></app-product-card> 
        </div>
    </div>
</ng-container>
