<main>
    <section class="banner">
        <app-banner
            #banner
            (activeIndexChange)="current = $event"></app-banner>
        <div class="slick-navigator-wrap">
            <a 
                href="#" 
                class="prev-slick"
                (click)="banner.prev()">
              <mat-icon aria-hidden="false" aria-label="First page icon" fontIcon="first_page"></mat-icon>  
            </a>
            <a 
                href="#" 
                class="next-slick"
                (click)="banner.next()">
              <mat-icon aria-hidden="false" aria-label="Last page icon" fontIcon="last_page"></mat-icon>  
            </a>
        </div>
    </section>
    <section class="justify">
        <app-justify></app-justify>
    </section>

    <section class="feature-products">
        <app-feature-products></app-feature-products>
    </section>

    <section class="contact-list">
        <app-contact-list></app-contact-list>
    </section>

    <section class="offer-product">
        <app-offer-product></app-offer-product>
    </section>

    <section class="product-carousel">
        <app-product-carousel></app-product-carousel>
    </section>
    
    <section class="partner">
        <app-partner></app-partner>
    </section>

    <section class="subscription">
        <app-subscription style="background-image: url('assets/subscription/n-bg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;"></app-subscription>
    </section>
</main>
